
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
    .top-alert {
        display: none;
        position: fixed;
        top:5%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        background-color: rgba(255, 255,255 , 0.6); /* 使用 rgba 设置背景颜色，最后一个参数控制透明度 */
        color: #000;
        border: 1px solid #000;
        border-radius: 5px;
        max-width: 80%;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        margin: 0 auto;
        }
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('{{ url_for("static", filename="pexels-johannes-plenio.jpg") }}');
            background-size: cover;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .register-form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
         .login-footer {
            text-align: center;
            margin-top: 20px;
        }

        .login-footer a {
            color: #007bff;
        }
    </style>
</head>
<body>
 <div id="top-alert" class="top-alert"></div>
 <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 register-form">
                <h1 class="text-center mb-4">Register</h1>
                <form method="POST" action="/register" class="needs-validation" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="{{ form.email.id }}" class="form-label">Email</label>
                        {{ form.email(class="form-control", required="required") }}
                        <div id="email-error" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id }}" class="form-label">Password</label>
                        {{ form.password(class="form-control", required="required") }}
                        <div id="password-error" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.repeatPassword.id }}" class="form-label">Repeat Password</label>
                        {{ form.repeatPassword(class="form-control", required="required") }}
                        <div id="repeatPassword-error" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.verification_code.id }}" class="form-label">Verification Code</label>
                        <div class="input-group">
                            {{ form.verification_code(class="form-control", required="required") }}
                            <button type="button" class="btn btn-secondary" id="send-verification-code">Get Verification Code</button>
                        </div>
                        <div id="verification_code-error" class="invalid-feedback"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
                    </div>
                    <div class="login-footer">
                        <p>Already have an account? <a href="{{ url_for('login') }}" id="login-link">Go to log in </a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
     const fields = {
        email: {
            input: $("#email"),
            error: $("#email-error")
        },
        password: {
            input: $("#password"),
            error: $("#password-error")
        },
        repeatPassword: {
            input: $("#repeatPassword"),
            error: $("#repeatPassword-error")
        },
        verification_code: {
            input: $("#verification_code"),
            error: $("#verification_code-error")
        },
         sendButton: $("#send-verification-code") // 添加 sendButton 字段
    };

    document.addEventListener("DOMContentLoaded", function () {
        // 检查会话中是否有保存的信息
        var savedEmail = sessionStorage.getItem("saved_email");
        var savedPassword = sessionStorage.getItem("saved_password");
        if (savedEmail) {
            document.querySelector('input[name="email"]').value = savedEmail;
        }
        if (savedPassword) {
            document.querySelector('input[name="password"]').value = savedPassword;
        }

    });

    function saveFormFields() {                   //保存表单字段至会话
        var emailValue = document.querySelector('input[name="email"]').value;
        var passwordValue = document.querySelector('input[name="password"]').value;
        sessionStorage.setItem("saved_email", emailValue);
        sessionStorage.setItem("saved_password", passwordValue);
    }

    function showTopAlert(message, duration) {
    const topAlert = $("#top-alert");
    topAlert.text(message);
    topAlert.css({ opacity: 0, display: "block" }).animate({ opacity: 1 }, 300);

    // 设置定时器，在一定时间后触发淡出效果
    setTimeout(function () {
        // 淡出并隐藏警告消息
        topAlert.animate({ opacity: 0 }, 300, function () {
            topAlert.css("display", "none");
        });
    }, duration);
}

    function handleFormErrors(response) {     //表单字段不符合需求时显示错误样式
    console.log("status: 400");
    const errors = response.responseJSON;

    // 清空之前的错误信息和样式
    Object.keys(fields).forEach(function (key) {
            if (key !== "sendButton") {
            fields[key].error.html(''); // 清空错误信息内容
            fields[key].input.removeClass('is-invalid'); // 移除错误样式
        }
    });

    // 显示新的错误信息和样式
    $.each(errors, function (key, value) {
        if (fields[key]) {
            fields[key].input.addClass('is-invalid');
            fields[key].error.html(value);
        } else {
            console.log('Key not found in fields:', key);
        }
    });
}

    function updateCountdown(countdownTime) {  //倒计时逻辑
        let countDown = countdownTime;

        function updateCountdownText() {
                if (countDown > 0) {
                    fields.sendButton.text(countDown + '秒后重试');
                    setTimeout(updateCountdownText, 1000);
                    countDown--;
                } else {
                    fields.sendButton.text('获取验证码');
                    fields.sendButton.prop('disabled', false); // 倒计时结束后重新启用按钮
                }
            }

            updateCountdownText();
        }

    function sendVerificationCode() {     //发送验证码的逻辑
        // 获取用户输入的邮箱地址
        let email = fields.email.input.val();
        let password = fields.password.input.val();
        let repeatPassword = fields.repeatPassword.input.val();

        fields.sendButton.prop('disabled', true);

        // 向后端发送请求以发送验证码
        $.ajax({
            type: "POST",
            url:  "{{ url_for('send_verification_code') }}",
            data: { email: email,
                    password: password,
                    repeatPassword: repeatPassword
            },
            success: function (data) {
                // 处理后端的成功响应
                if(data.success){
                   showTopAlert(data.message, 3000); // 显示消息并持续3秒
                   updateCountdown(120);
                }
                else{
                   showTopAlert(data.message, 3000); // 显示消息并持续3秒
                   fields.sendButton.prop('disabled', false);
                }
            },
            error: function (response) {
                if (response.status === 400) {
                    handleFormErrors(response);
                    fields.sendButton.prop('disabled', false);
                }

            }
        });


    }

     function RegisteWithAJAX() {      //
         let url = "{{ url_for('register') }}";

         $.ajax({
            type: "POST",
            url: url,
            data: $('form').serialize(),
            success: function (data) {
                // 处理注册成功的情况
                if (data.success) {
                    var saveInfo = confirm("Registration successful ! Do you want to log in immediately?");
                    if (saveInfo) {
                        saveFormFields();
                        window.location.href = "{{ url_for('login',login_after_register=True) }}";
                    }
                    else{
                        window.location.href = "{{ url_for('beginpage') }}";
                    }
                }
                else{
                     showTopAlert(data.message, 3000); // 显示消息并持续3秒
                    }

            },
            error: function (response) {      // 处理登录失败的情况(输入不合法)
                if (response.status === 400) {
                    handleFormErrors(response)
                    autoFillFormFields();         //从会话中读取保存的账号和密码
                }
            }
        });
    }

    //页面加载时的准备工作:
     $(document).ready(function() {
         $("#send-verification-code").click(function () {
            sendVerificationCode();
        });
         $('form').submit(function (e) {
            e.preventDefault(); // block the traditional submission of the form.
            saveFormFields();
            RegisteWithAJAX();
        });

        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>

</body>
</html>